/* 2. Tarjeta de producto con imagen, descripción y botón distribuidos verticalmente. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --primary-color: #4CAF50;
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --border-radius: 10px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tarjeta {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tarjeta__imagen--modified {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.tarjeta__contenido {
    padding: 20px;
    text-align: center;
    color: wheat;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.tarjeta__titulo {
    font-size: 24px;
    margin-bottom: 10px;
    color: red;
}

.tarjeta__descripcion {
    font-size: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.tarjeta__precio {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    color: white;
}

.tarjeta__boton--modified {
    background-color: white;
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    margin-top: auto;
}

.tarjeta__boton--modified:hover {
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
}

